<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Walmart</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <div id="logo">Tiramisu</div>
        <nav>
          <ul class="nav-links">
            <li><a href="index.html"> Homepage </a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="404.html">About</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <h1 class="nf">Oops! Page not found :[</h1>
      <p class="nfp">Try again or die..</p>
    </div>
  </body>

  <footer><p>© 2025 by Selam Yosief | All Rights Reserved</p></footer>
</html>
