<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop - Walmart</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div id="logo">Walmart</div>
        <nav>
          <ul class="nav-links">
            <li><a href="index.html">Homepage</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="404.html">About</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <h1>Products</h1>
      <div id="productList" class="menu-container"></div>

      <h1>Cart</h1>
      <div id="cart"></div>
      <div id="total"></div>

      <h2>Customer Information</h2>
      <label for="customerName">Name:</label>
      <input
        type="text"
        id="customerName"
        placeholder="Enter your name"
        required
      />

      <label for="customerEmail">Email:</label>
      <input
        type="email"
        id="customerEmail"
        placeholder="Enter your email"
        required
      />

      <button class="btn-pdf" id="view" disabled>View Invoice</button>
      <button class="btn-pdf" id="download" disabled>Download Invoice</button>
      <div id="invoiceCont"></div>
    </div>

    <script type="module" src="js/shop.js"></script>
  </body>
  <footer>
    <p>&copy; 2025 by Selam Yosief | All Rights Reserved</p>
  </footer>
</html>
