* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

header {
  background-color: cornflowerblue;
  color: #fff;
  padding: 10px 0;
  max-height: 90px;
}

#logo {
  float: left;
  font-size: 1.5em;
}

nav {
  float: right;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  background-color: darkcyan;
}

.hero-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 1280px;
  height: 600px;
  background-image: url("../images/n3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero-title {
  font-size: 2em;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.shop-now {
  display: block;
  margin: 30px auto;
  font-size: 30px;
  border: 3px solid black;
  padding: 10px 20px;
  text-align: center;
  background-color: lightblue;
  cursor: pointer;
}

.shop-now:hover {
  background-color: darkcyan;
  color: white;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.product img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.btn-pdf {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.btn-pdf:hover {
  background-color: darkcyan;
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: dodgerblue;
  background-color: #f8f9fa;
  margin-top: auto;
}
